{% extends "base.html" %} 

{% block content %}
<h2> Flights </h2>
<table class="table1">
    <tr class="header">
        <th>Airline</th>
        <th>Number</th>
        <th>Type</th>
        <th>Departure Date</th>
        <th>Departure Time</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Remained Seats</th>
        <th>Price</th>
        <th></th>
    </tr>
{% for flight in flights %}

<tr>
     <td>{{flight.airline_name}}</td>
     <td>{{flight.number}}</td>
     <td>{{flight.type_}}</td>
     <td>{{flight.departure_date}}</td>
     <td>{{flight.departure_time}}</td>
     <td>{{flight.origin_city_name}}, {{flight.origin_country_name}}</td>
     <td>{{flight.destination_city_name}}, {{flight.destination_country_name}}</td>
     <td>{{flight.remained_seats}}</td>
     <td>{{flight.price}}$</td>
     <td><a href="flights/{{flight.airline_id}}/{{flight.number}}">Book</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
