{% extends "base.html" %} 

{% block content %}


<form method="get" >
    <p> Search: </p>
    <div class="field">
    <input name="name" placeholder="hotel name" type="text" />
    <input name="origin_city" placeholder="origin city" type="text" />
    <input name="origin_country" placeholder="origin country" type="text" />
    <input name="destination_city" placeholder="destination city" type="text" />
    <input name="destination_country" placeholder="destination country" type="text" />
    <input name="departure_date" placeholder="departure date" type="date" />
    <input name="Submit/Clear" type="submit" />
    </div>
</form>



<h2> Flights </h2>
<table class="table1">
    <tr class="header">
        <th>Airline</th>
        <th>Number</th>
        <th>Type</th>
        <th>Departure Date</th>
        <th>Departure Time</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Remained Seats</th>
        <th>Price</th>
        <th></th>
    </tr>
{% for flight in flights %}

<tr>
     <td>{{flight.airline_name}}</td>
     <td>{{flight.number}}</td>
     <td>{{flight.type_}}</td>
     <td>{{flight.departure_date}}</td>
     <td>{{flight.departure_time}}</td>
     <td>{{flight.origin_city_name}}, {{flight.origin_country_name}}</td>
     <td>{{flight.destination_city_name}}, {{flight.destination_country_name}}</td>
     <td>{{flight.remained_seats}}</td>
     <td>{{flight.price}}$</td>
     <td><a href="flights/{{flight.airline_id}}/{{flight.number}}">Book</a></td>
</tr>
{% endfor %}
</table>
{% endblock %}
