{% extends "base.html" %} {% block content %}
<div id="hotel-info">
  <p>{{hotel.country_name}}, {{hotel.city_name}}</p>

  <h2>{{hotel.name}}

    {% for i in range(hotel.stars_count) %}
    ⭐
    {% endfor %}
    {% for in in range(hotel.stars_count, 5) %}
    ☆
    {% endfor %}
  </h2>

  <label> Description:</label>
  <p> {{hotel.description}}</p>
    <label> Facilities:</label>
  <p> {{hotel.facilities}}</p>
  <label> Address:</label>
  <p> {{hotel.address}}</p>
  <label> Contact:</label>
  <p> +{{hotel.phone}} - <a href={{hotel.website}} >website</a></p>
</div>
  <table class="table1" id="hotel-rooms">
    <tr class="header">
      <th>No.</th>
      <th>Type</th>
      <th>Capacity</th>
      <th>Price</th>
      <th></th>
    </tr>
    {% for room in rooms %}
    <tr>
      <th>{{room.number}}</th>
      <th>{{room.type}}</th>
      <th>{{room.capacity}}</th>
      <th>{{room.price}}</th>
      <th><a href="/hotels/{{hotel.id}}/room/{{room.number}}">Reserve this room</a></th>

    </tr>
    {% endfor %}
  </table>

<a href="/hotels">back</a>
{% endblock %}
