{% extends "base.html" %} {% block content %}
<div id="hotel-info">
  <p>{{hotel.country_name}}, {{hotel.city_name}}</p>

  <h2>{{hotel.name}}
    {% if hotel.stars_count %}
    {% for i in range(hotel.stars_count) %}
    ⭐
    {% endfor %}
    {% for in in range(hotel.stars_count, 5) %}
    ☆
    {% endfor %}
    {% endif %}
  </h2>

  <label> Description:</label>
  <p> {{hotel.description}}</p>
    <label> Facilities:</label>
  <p> {{hotel.facilities}}</p>
  <label> Address:</label>
  <p> {{hotel.address}}</p>
  <label> Contact:</label>
  <p> +{{hotel.phone}} - <a href={{hotel.website}} >website</a></p>
  <label> Customers Rating:</label>
  <p> {{hotel.customer_rating}} (from 5)</p>  

  {% if rate %}
  <form method="post" class="form2">
    <div class="field">
        <label>Your rating:</label>
    <input type="number" name="rating" min="1" max="5">
    <input name="Submit" type="submit" />
    </div>
    {% endif %}
</form>

</div>
  <table class="table1" id="hotel-rooms">
    <tr class="header">
      <th>No.</th>
      <th>Type</th>
      <th>Capacity (no. of people)</th>
      <th>Price</th>
      <th></th>
    </tr>
    {% for room in rooms %}
    <tr>
      <th>{{room.number}}</th>
      <th>{{room.type}}</th>
      <th>{{room.capacity}}</th>
      <th>{{room.price}}$</th>
      <th><a href="/hotels/{{hotel.id}}/room/{{room.number}}">Reserve this room</a></th>

    </tr>
    {% endfor %}
  </table>

<a href="/hotels">back</a>
{% endblock %}
