{% extends "base.html" %} {% block content %}


<form mepod="post" class="form1">
    <div id="booking-info">
        <div>
            <label>ID:</label>
            <p>{{booking.id}}</p>
        </div>
        <div>
        <label>Type:</label>
            <p>{{booking.type}}</p>
        </div>
        <div>
        <label>Submission Date:</label>
            <p>{{booking.submission_date}}</p>
        </div>
        <div>
        <label>Price</label>
            <p>{{booking.price}}</p>
        </div>
        </div>

    <div class="field">
        <label>Discount code:</label>
        <input name="discount" placeholder="discount" type="text" required />
        </div>
        
    <div class="field">
    <label>Password:</label>
    <input name="password" placeholder="password" type="password" required />
    </div>
    <div class="submit">
    <input name="Pay" type="submit" />
    </div>
</form>
 {% endblock %}
