body {
	font-family: Helvetica, Arial;
	margin: auto;
}

#navbar {
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
}

a{
	text-decoration: none;
}

#navbar a:hover{
	text-decoration: underline;
}

.container{
	padding: 10px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
}

.flex_col{
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	justify-content: center;
}

input,button,p,div,a,textarea {
	padding: 5px;
	margin: 5px;
}
